<input id="searchBar" onChange="search()" onkeyup="search()" autofocus placeholder="Search for an employee" style='width:89%;'>

<button id="newEmployee" style='width:10%;' onclick="newEmployee()">Add New</button>

<br><br>

<table style="width:99%" id="employees" border="1">
	<tr>
		<td></td>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Role</th>
		<th>Password</th>
		<th>Hourly Pay</th>
	</tr>
</table>

<script>
	var employeeList = [];
	var jsonItemReq = new XMLHttpRequest();
	var changed = false;
	var searched = false;
	
	getAllEmployees();
	
	function getAllEmployees(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				employeeList = [];
				
				for(var x = 0; x < item.length; x++){
					employeeList.push(item[x]);
				}
				
				if(!searched){
					updateTable(employeeList);
				}
			}
		}
		
		jsonItemReq.open("POST", "/getEmployee/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("employees");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var deleteCell = row.insertCell(0);
			var IDCell = row.insertCell(1);
			var fNameCell = row.insertCell(2);
			var lNameCell = row.insertCell(3);
			var roleCell = row.insertCell(4);
			var passwordCell = row.insertCell(5);
			var hourlyPayCell = row.insertCell(6);
			
			//input the information into the new cells
			deleteCell.innerHTML = "<button onclick=\"deleteRow(this)\">X</button>";
			IDCell.innerHTML = items[x].EmployeeID;
			fNameCell.innerHTML = "<input onChange=\"change()\" onblur=\"updateName(this)\" value=\""+ items[x].FirstName +"\">";
			lNameCell.innerHTML = "<input onChange=\"change()\" onblur=\"updateName(this)\" value=\""+ items[x].LastName +"\">";
			passwordCell.innerHTML = "<input onChange=\"change()\" onblur=\"updatePassword(this)\" value="+ items[x].Password +">";
			hourlyPayCell.innerHTML = "<input pattern=\"[0-9]*\" onChange=\"change()\" onblur=\"updateHourlyPay(this)\" value="+ items[x].HourlyPay +">";
			
			if(items[x].Role == "1"){
				roleCell.innerHTML = "<select name=\"role\" onChange=\"updateRole(this)\"> <option value=\"1\" selected>Employee</option><option value=\"2\">Manager</option></select>";
			}else{
				roleCell.innerHTML = "<select name=\"role\" onChange=\"updateRole(this)\"> <option value=\"1\">Employee</option><option value=\"2\" selected>Manager</option></select>";
			}
		}
	}
	
	function search(){
		var results = [];
		var str = document.getElementById("searchBar").value;
		var ID;
		var fName;
		var lName
		
		if(str === ""){
			searched = false;
			getAllEmployees();
		}else{
			for(x=0; x < employeeList.length; x++){
				ID = employeeList[x].EmployeeID + "";
				fName = employeeList[x].FirstName;
				lName = employeeList[x].LastName;
				
				if(ID.indexOf(str) != -1 || fName.search(str) != -1 || lName.search(str) != -1){
					results.push(employeeList[x]);
				}
			}
			
			updateTable(results);
			
			searched = true;
		}
	}
	
	function updateName(t){
		if(changed){
			changed = false;
		
			var row = t.parentNode.parentNode;
			var ID = row.cells[1].innerHTML;
			var name = row.cells[2].children[0].value + " " + row.cells[3].children[0].value;
			
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllEmployees();
					}
				}
			
			var str = ID + " " + name;
			
			jsonItemReq.open("POST", "/updateName/", true);
			jsonItemReq.send(str);
		}
	}
	
	function updatePassword(t){
		if(changed){
			changed = false;
		
			var row = t.parentNode.parentNode;
			var itemNumber = row.cells[1].innerHTML;
			var description = row.cells[5].children[0].value;
			
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllEmployees();
					}
				}
			
			var str = itemNumber + " " + description;
			
			jsonItemReq.open("POST", "/updatePassword/", true);
			jsonItemReq.send(str);
		}
	}
	
	function updateHourlyPay(t){
		if(changed){
			changed = false;
		
			var row = t.parentNode.parentNode;
			var itemNumber = row.cells[1].innerHTML;
			var description = row.cells[6].children[0].value;
			
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllEmployees();
					}
				}
			
			var str = itemNumber + " " + description;
			
			jsonItemReq.open("POST", "/updateHourlyPay/", true);
			jsonItemReq.send(str);
		}
	}
	
	function updateRole(t){
		var row = t.parentNode.parentNode;
		var itemNumber = row.cells[1].innerHTML;
		var description = row.cells[4].children[0].value;
		var otherManager = false;
		
		for(x = 0; x < employeeList.length; x++){
			if(employeeList[x].Role > 1 && employeeList[x].EmployeeID != itemNumber){
				otherManager = true;
				break;
			}
		}
		
		if(description == 1 && !otherManager){
			alert("You must have at least one manager!");
			
			getAllEmployees();
		}else{
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllEmployees();
					}
				}
			
			var str = itemNumber + " " + description;
			
			jsonItemReq.open("POST", "/updateRole/", true);
			jsonItemReq.send(str);
		}
	}
	
	function change(){
		changed = true;
	}
	
	function deleteRow(t){
		var row = t.parentNode.parentNode;
		
		if(confirm("Are you sure you want to delete this employee permanantly?")){
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllEmployees();
					}
				}
			
			jsonItemReq.open("POST", "/deleteEmployee/", true);
			jsonItemReq.send(row.cells[1].innerHTML);
			
			document.getElementById("employees").deleteRow(row.rowIndex);
		}
	}
	
	function newEmployee(){
		var jsonItemReq = new XMLHttpRequest();
		
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				getAllEmployees();
			}
		}
		
		jsonItemReq.open("POST", "/addEmployee/", true);
		jsonItemReq.send();
	}
</script>
