<table style="width:99%" id="dates" border="0">
	<tr>
		<td>Start Date: <input type="date" id="startDate" onblur="dateRange()"> </td>
		<td>End Date: <input type="date" id="endDate" onblur="dateRange()"> </td>
	</tr>
</table>

<br><br>

<table style="width:99%" id="inventory" border="1">
	<tr>
		<th>Employee ID</th>
		<th>Hours Worked</th>
		<th>Hourly Rate</th>
		<th>Total</th>
	</tr>
</table>

<script>
	var itemList = [];
	var employees = [];
	var hours = [];
	var jsonItemReq = new XMLHttpRequest();
	
	getAllItems();
	
	function getAllItems(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				itemList = [];
				
				for(var x = 0; x < item.length; x++){
					itemList.push(item[x]);
				}
				
				updateTable(itemList);
			}
		}
		
		jsonItemReq.open("POST", "/getTimeSheetEvents/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("inventory");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var employeeCell = row.insertCell(0);
			var hoursCell = row.insertCell(1);
			var rateCell = row.insertCell(2);
			var totalCell = row.insertCell(3);
			
			//input the information into the new cells
			employeeCell.innerHTML = items[x].EmployeeID;
			rateCell.innerHTML = items[x].;
			
		}
	}
	
	function insertHours(hoursCell, x){
		var total = 0;
		
		var jsonReq = new XMLHttpRequest();
		
		jsonReq.onreadystatechange = function() {
			if (jsonReq.readyState == 4 && jsonReq.status == 200) {
				var item = JSON.parse(jsonReq.responseText);
				
				for(var y = 0; y < item.length; y++){
					total += parseFloat(item[y].Price);
				}
				
				hoursCell.innerHTML = total;
			}
		}
		
		jsonReq.open("POST", "/getPurchaseItems/", true);
		jsonReq.send();
	}
	
	function dateRange(){
		var start = 1;
		var end = Date.now()/1000.0;
		var time = start + " " + end;
		var startDate = document.getElementById("startDate").value;
		var endDate = document.getElementById("endDate").value;
		
		if(startDate != null && startDate != ""){
			start = (Date.parse(startDate)/1000.0) + 86400;
		}
		
		if(endDate != null && endDate != ""){
			end = (Date.parse(endDate)/1000.0) + 86400;
		}
		
		time = start + " " + end;
		
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				itemList = [];
				
				for(var x = 0; x < item.length; x++){
					itemList.push(item[x]);
				}
				
				updateTable(itemList);
			}
		}
		
		jsonItemReq.open("POST", "/getTimeSheetEventsBetween/", true);
		jsonItemReq.send(time);
	}
</script>
