<table style="width:99%" id="dates" border="0">
	<tr>
		<td>Start Date: <input type="date" id="startDate" onblur="getAllEmployees()"> </td>
		<td>End Date: <input type="date" id="endDate" onblur="getAllEmployees()"> </td>
	</tr>
</table>

<br><br>

<!-- Comment everything above out if the daterange doesn't work-->
<table style="width:99%" id="inventory" border="1">
	<tr>
		<th>Employee ID</th>
		<th>Hours Worked</th>
		<th>Hourly Rate</th>
		<th>Total</th>
	</tr>
</table>

<script>
	var employeeList = [];
	var jsonItemReq = new XMLHttpRequest();
	
	getAllEmployees();
	
	function getAllEmployees(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				employeeList = [];
				
				for(var x = 0; x < item.length; x++){
					employeeList.push(item[x]);
				}
				
				updateTable(employeeList);
			}
		}
		
		jsonItemReq.open("POST", "/getEmployee/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("inventory");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var employeeCell = row.insertCell(0);
			var hoursCell = row.insertCell(1);
			var rateCell = row.insertCell(2);
			var totalCell = row.insertCell(3);
			
			getHours(hoursCell, totalCell, x);
			
			//input the information into the new cells
			employeeCell.innerHTML = items[x].EmployeeID;
			rateCell.innerHTML = items[x].HourlyPay;
		}
	}
	
	function getHours(hoursCell, totalCell, x){
		var jsonReq = new XMLHttpRequest();
		
		var start = 1;
		var end = Date.now()/1000.0;

		var startDate = document.getElementById("startDate").value;
		var endDate = document.getElementById("endDate").value;
		
		if(startDate != null && startDate != ""){
			start = (Date.parse(startDate)/1000.0);
		}
		
		if(endDate != null && endDate != ""){
			end = (Date.parse(endDate)/1000.0);
		}
		
		var query = start + " " + end + " " + employeeList[x].EmployeeID;
		
		jsonReq.onreadystatechange = function() {
			if (jsonReq.readyState == 4 && jsonReq.status == 200) {
				var timestamps = JSON.parse(jsonReq.responseText);
				var hours = 0;
				var clockedin = false;
				var time;
				console.log(timestamps);
				
				for(y = 0; y < timestamps.length; y++){
					console.log(timestamps[y]);
					
					if(!clockedin && timestamps[y].Type == 1){
						console.log("clocked in now");
						time = timestamps[y].TimeStamp;
						clockedin = true;
					}else if(clockedin && timestamps[y].Type == 0){
						console.log("clocked out now");
						clockedin = false;
						hours += timestamps[y].TimeStamp - time;
					}
				}
				
				hours = hours/3600;
				
				hoursCell.innerHTML = Math.round(hours * 10) / 10;
				totalCell.innerHTML = Math.round(hours * parseFloat(employeeList[x].HourlyPay) * 100) / 100;
				
				
			}
		}
		
		jsonReq.open("POST", "/getTimeSheetEventsBetween/", true);
		jsonReq.send(query);
	}

</script>
