<input id="searchBar" onChange="search()" onkeyup="search()" autofocus placeholder="Enter a transaction number" style='width:99%;'>
<br><br>
<table style="width:99%" id="dates" border="0">
	<tr>
		<td>Start Date: <input type="date" id="startDate" onblur="dateRange()"> </td>
		<td>End Date: <input type="date" id="endDate" onblur="dateRange()"> </td>
	</tr>
</table>

<br><br>

<table style="width:99%" id="inventory" border="1">
	<tr>
		<th>Purchase Number</th>
		<th>Employee ID</th>
		<th>Payment Method</th>
		<th>Date of Purchase</th>
		<th>Total</th>
	</tr>
</table>

<script>
	var itemList = [];
	var jsonItemReq = new XMLHttpRequest();
	var changed = false;
	var searched = false;
	
	getAllItems();
	
	function getAllItems(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				itemList = [];
				
				for(var x = 0; x < item.length; x++){
					itemList.push(item[x]);
				}
				
				if(!searched){
					updateTable(itemList);
				}
			}
		}
		
		jsonItemReq.open("POST", "/getPurchase/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("inventory");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var purchaseNumberCell = row.insertCell(0);
			var employeeCell = row.insertCell(1);
			var paymentCell = row.insertCell(2);
			var dateCell = row.insertCell(3);
			var totalCell = row.insertCell(4);
			
			//input the information into the new cells
			purchaseNumberCell.innerHTML = "<button onclick=\"getReceipt(" + items[x].PurchaseNumber + ")\">" + items[x].PurchaseNumber + "</button>";
			employeeCell.innerHTML = items[x].EmployeeID;
			paymentCell.innerHTML = items[x].PaymentMethod;
			dateCell.innerHTML = new Date(items[x].TimeStamp * 1000);
			
			insertTotal(totalCell, x);
		}
	}
	
	function insertTotal(totalCell, x){
		var total = 0 - itemList[x].Discount;
		var jsonReq = new XMLHttpRequest();
		
		jsonReq.onreadystatechange = function() {
			if (jsonReq.readyState == 4 && jsonReq.status == 200) {
				var item = JSON.parse(jsonReq.responseText);
				
				for(var y = 0; y < item.length; y++){
					total += parseFloat(item[y].Price);
				}
				
				totalCell.innerHTML = total;
			}
		}
		
		jsonReq.open("POST", "/getPurchaseItems/", true);
		jsonReq.send(itemList[x].PurchaseNumber);
	}
	
	function search(){
		var results = [];
		var str = document.getElementById("searchBar").value;
		var productNum;
		
		if(str === ""){
			searched = false;
			getAllItems();
		}else{
			for(x=0; x < itemList.length; x++){
				productNum = itemList[x].PurchaseNumber + "";
				
				if(productNum.indexOf(str) != -1){
					results.push(itemList[x]);
				}
			}
			
			updateTable(results);
			
			searched = true;
		}
	}
	
	function change(){
		changed = true;
	}
	
	function dateRange(){
		var start = 1;
		var end = Date.now()/1000.0;
		var purchases = [];
		var startDate = document.getElementById("startDate").value;
		var endDate = document.getElementById("endDate").value;
		
		if(startDate != null && startDate != ""){
			start = (Date.parse(startDate)/1000.0) + 86400;
		}
		
		if(endDate != null && endDate != ""){
			end = (Date.parse(endDate)/1000.0) + 86400;
		}
		
		var time = start + " " + end;
		
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				purchases = [];
				
				for(var x = 0; x < item.length; x++){
					purchases.push(item[x]);
				}
				
				updateTable(purchases);
			}
		}
		
		jsonItemReq.open("POST", "/getPurchasesBetween/", true);
		jsonItemReq.send(time);
	}

	function getReceipt(purchase) {
		var jsonItemReq = new XMLHttpRequest();
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var checkout = jsonItemReq.responseText;
				console.log(checkout);
				window.open("data:text/plain,"+escape(checkout), "Receipt", "menubar=no,toolbar=no");
			}
		}
		jsonItemReq.open("POST", "/receipt/", true);
		jsonItemReq.send(purchase);	
	}
</script>
