<table style="width:99%" id="inventory" border="1">
	<tr>
		<th>Setting</th>
		<th>Value</th>
	</tr>
</table>

<script>
	var itemList = [];
	var jsonItemReq = new XMLHttpRequest();
	var changed = false;
	
	getAllItems();
	
	function getAllItems(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				itemList = [];
				
				for(var x = 0; x < item.length; x++){
					itemList.push(item[x]);
				}
				
				updateTable(itemList);
			}
		}
		
		jsonItemReq.open("POST", "/getAllSettings/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("inventory");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var IDCell = row.insertCell(0);
			var valueCell = row.insertCell(1);
			
			//input the information into the new cells
			IDCell.innerHTML = items[x].SettingID;
			valueCell.innerHTML = "<input onChange=\"change()\" onblur=\"updateValue(this)\" value=\""+ items[x].SettingValue +"\">";
			
		}
	}
	
	function updateValue(t){
		if(changed){
			changed = false;
		
			var row = t.parentNode.parentNode;
			var itemNumber = row.cells[0].innerHTML;
			var description = row.cells[1].children[0].value;
			
			var jsonItemReq = new XMLHttpRequest();
				jsonItemReq.onreadystatechange = function() {
					if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
						getAllItems();
					}
				}
			
			var str = itemNumber + "," + description;
			
			jsonItemReq.open("POST", "/updateSettingValue/", true);
			jsonItemReq.send(str);
		}
	}	
	
	function change(){
		changed = true;
	}
</script>
