<table style="width:99%" id="inventory" border="1">
	<tr>
		<th>Item</th>
		<th>Description</th>
		<th>Price</th>
		<th>Cost</th>
		<th>Threshold</th>
		<th>Count</th>
		<th>Taxable</th>
	</tr>
</table>

<script>
	var itemList = [];
	var jsonItemReq = new XMLHttpRequest();
	
	getAllItems();
	
	function getAllItems(){
		jsonItemReq.onreadystatechange = function() {
			if (jsonItemReq.readyState == 4 && jsonItemReq.status == 200) {
				var item = JSON.parse(jsonItemReq.responseText);
				
				itemList = [];
				
				for(var x = 0; x < item.length; x++){
					itemList.push(item[x]);
				}
				
				updateTable(itemList);
			}
		}
		
		jsonItemReq.open("POST", "/getThresholdReport/", true);
		jsonItemReq.send(-1);
	}
	
	function updateTable(items){
		var table = document.getElementById("inventory");
		
		for(i = table.rows.length - 1; i > 0; i--){
			table.deleteRow(i);
		}
		
		for(x = 0; x < items.length; x++){
			
			//add a row to the table
			var row = table.insertRow(-1);
			
			//Insert new cells into the new row
			var itemCell = row.insertCell(0);
			var descriptionCell = row.insertCell(1);
			var priceCell = row.insertCell(2);
			var costCell = row.insertCell(3);
			var thresholdCell = row.insertCell(4);
			var countCell = row.insertCell(5);
			var taxCell = row.insertCell(6);
			
			//input the information into the new cells
			itemCell.innerHTML = items[x].ProductNumber;
			descriptionCell.innerHTML = items[x].Description;
			priceCell.innerHTML = items[x].Price;
			costCell.innerHTML = items[x].Cost;
			thresholdCell.innerHTML = items[x].Threshold;
			countCell.innerHTML = items[x].Count;
			
			if(items[x].Taxable == "1"){
				taxCell.innerHTML = "Tax";
			}else{
				taxCell.innerHTML = "Non";
			}
		}
	}
</script>
